<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4cd99">  <td>21/11/19 20:29:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_coffeeMug.coffee()[pri:0, instance:testCases.TC2_coffeeMug@6c0d9d86]">coffee</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>21/11/19 20:29:29</td>   <td>17760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC3_Gifts.coffee()[pri:0, instance:testCases.TC3_Gifts@4ce1d6d0]">coffee</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="f6b1bb">  <td>21/11/19 20:29:44</td>   <td>31892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_GiftNote.GiftNote()[pri:0, instance:testCases.TC4_GiftNote@24111ef1]">GiftNote</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="94fff9">  <td>21/11/19 20:30:08</td>   <td>56880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_pincode.ChristmasGift()[pri:0, instance:testCases.TC5_pincode@1f3f02ee]">ChristmasGift</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="87c9e8">  <td>21/11/19 20:30:26</td>   <td>73972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_Quantity.ChristmasGift()[pri:0, instance:testCases.TC7_Quantity@1fde5d22]">ChristmasGift</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="7a7a8e">  <td>21/11/19 20:30:44</td>   <td>91968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_AddGiftCard.AddGiftCard()[pri:0, instance:testCases.TC8_AddGiftCard@5dcb4f5f]">AddGiftCard</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="608db3">  <td>21/11/19 20:30:57</td>   <td>105464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC9_wishList.TC9_wishList()[pri:0, instance:testCases.TC9_wishList@71812481]">TC9_wishList</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="a773fd">  <td>21/11/19 20:31:16</td>   <td>124478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_shippingPolicy.coffee()[pri:0, instance:testCases.TC10_shippingPolicy@16ce702d]">coffee</td> 
  <td>main@85415531</td>   <td></td> </tr>
<tr bgcolor="c09d88">  <td>21/11/19 20:31:32</td>   <td>140707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_corporateGifts.corGifts(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC11_corporateGifts@7b94089b]">corGifts</td> 
  <td>main@85415531</td>   <td></td> </tr>
</table>
